<h1>Liste des chaines</h1>
<% if @channels.any? %>
  <%= will_paginate @channels, renderer: BootstrapPagination::Rails %>
  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Nom</td>
      </tr>
    </thead>
    <tbody>
      <% @channels.each do |channel| %>
        <tr>
          <td><%= channel.id %></td>
          <td><%= channel.name %></td>
          <td><%= link_to 'Afficher', channel, class: 'btn btn-primary' %></td>
          <td><%= link_to 'Modifier', edit_channel_path(channel), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Supprimer', channel,
      method: :delete,
      data: {confirm: 'Etes-vous sûr de vouloir supprimer la chaine ?'},
      class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Il n'y a pas encore de chaines.</p>
<% end %>
<p>
  <%= link_to 'Ajouter une chaine', new_channel_path, class: 'btn btn-success' %>
</p>