<%= simple_form_for @tv_show do |f| %>
<div class="row">
  <div class="form-group col-lg-5">
    <p>
      <%= f.input :nom, label: 'Nom', class: 'form-control' %>
    </p>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-5">
    <p>
      <%= f.input :statut, label: 'Statut', class: 'form-control' %>
    </p>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-5">
    <p>
      <%= f.input :duree, label: 'Durée', class: 'form-control' %>
    </p>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-5">
    <p>
      <%= f.input :channel_id, label: 'Chaine', class: 'form-control' %>
    </p>
  </div>
</div>
<p>
  <%= f.submit submit , class: 'btn btn-primary' %>
</p>
<% end %>