<h1>Liste des séries</h1>

<% if @tv_shows.any? %>

<%= will_paginate @tv_shows, renderer: BootstrapPagination::Rails %>

<table class="table">
  <thead>
    <tr>
      <td>Nom</td>
      <td>Statut</td>
      <td>Durée</td>
      <td>Chaine</td>
      <td>Genre</td>
    </tr>
  </thead>
  <tbody>
    <% @tv_shows.each do |tv_show| %>
    <tr>
      <td><%= tv_show.nom %></td>
      <td><%= tv_show.statut ? tv_show_statut_label(tv_show.statut) : '&empty;'.html_safe %></td>
      <td><%= tv_show.duree > 1 ? (tv_show.duree).to_s + ' minutes' : (tv_show.duree).to_s + ' minute' %></td>
      <td><%= tv_show.channel.nom %></td>
      <td><%= render partial: 'genres_list', locals: { genres: tv_show.genres } %></td>
      <td><%= link_to 'Afficher', tv_show, class: 'btn btn-primary' %></td>
      <td><%= link_to 'Modifier', edit_tv_show_path(tv_show), class: 'btn btn-warning' %></td>
      <td><%= link_to 'Supprimer', tv_show,
      method: :delete,
      data: {confirm: 'Etes-vous sûr de vouloir supprimer la série ?'},
      class: 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>Il n'y a pas encore de séries.</p>
<% end %>

<p>
  <%= link_to 'Ajouter une série', new_tv_show_path, class: 'btn btn-success' %>
</p>