<% if params[:search].present? %>
  <h1>Liste des séries correspondant à la recherche : <%=params[:search] %></h1>
<% else %>
  <h1>Liste des séries</h1>
<%end %>
<% if @tv_shows.any? %>
  <%= will_paginate @tv_shows, renderer: BootstrapPagination::Rails %>
  <table class="table">
    <thead>
      <tr>
        <td>Nom</td>
        <td>Statut</td>
        <td>Durée</td>
        <td>Chaine</td>
        <td>Genre</td>
      </tr>
    </thead>
    <tbody>
      <% @tv_shows.each do |tv_show| %>
        <tr>
          <td><%= tv_show.name %></td>
          <td><%= tv_show.status ? tv_show_status_label(tv_show.status) : '&empty;'.html_safe %></td>
          <td><%= tv_show.time > 1 ? (tv_show.time).to_s + ' minutes' : (tv_show.time).to_s + ' minute' %></td>
          <td><%= !tv_show.channel.blank? ? tv_show.channel.name : '&empty;'.html_safe %></td>
          <td><%= render partial: 'genres_list', locals: { genres: tv_show.genres } %></td>
          <td>
            <% if current_user.tv_shows.include? tv_show %>
              <%= link_to 'Retirer de mes séries', remove_user_tv_show_tv_show_path(tv_show),
          method: "get",
          data: {confirm: 'Etes-vous sûr de vouloir retirer la série de votre compte ?'},
          class: 'btn btn-danger' %>
            <% else %>
              <%= link_to 'Ajouter à mes séries', add_user_tv_show_tv_show_path(tv_show),
          method: "get",
          data: {confirm: 'Etes-vous sûr de vouloir ajouter la série à votre compte ?'},
          class: 'btn btn-success' %>
            <% end %>
          </td>
          <td><%= link_to 'Afficher', tv_show, class: 'btn btn-primary' %></td>
          <% if can? :manage, TvShow %>
            <td><%= link_to 'Modifier', edit_tv_show_path(tv_show), class: 'btn btn-warning' %></td>
            <td><%= link_to 'Supprimer', tv_show,
          method: :delete,
          data: {confirm: 'Etes-vous sûr de vouloir supprimer la série ?'},
          class: 'btn btn-danger' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% if params[:search].present? %>
    <p>Aucune série correspond à la recherche : <%=params[:search] %></p>
  <% else %>
    <p>Il n'y a pas encore de séries.</p>
  <%end %>
<% end %>
<% if can? :manage, TvShow %>
  <p>
    <%= link_to 'Ajouter une série', new_tv_show_path, class: 'btn btn-success' %>
  </p>
<% end %>