<h1>Afficher une série</h1>

<p>Nom : <%= @tv_show.time %></p>
<p>Statut : <%= @tv_show.status ? tv_show_status_label(@tv_show.status) : '&empty;'.html_safe %></p>
<p>Durée : <%= @tv_show.time > 1 ? (@tv_show.time).to_s + ' minutes' : (@tv_show.time).to_s + ' minute' %></p>
<p>Chaine : <%= @tv_show.channel.name %></p>
<p>Genres : <%= render partial: 'genres_list', locals: { genres: @tv_show.genres } %></p>

<p>
	<%= link_to 'Liste des séries', tv_shows_path, class: 'btn btn-primary' %>
	<%= link_to 'Modifier la série', edit_tv_show_path, class: 'btn btn-primary' %>
</p>