<h1>Liste des épisodes</h1>

<% if @my_episodes.any? %>

<%= will_paginate @my_episodes, renderer: BootstrapPagination::Rails %>

<table class="table">
  <thead>
    <tr>
      <td>Saison</td>
      <td>Episode</td>
      <td>Titre</td>
      <td>Série</td>
    </tr>
  </thead>
  <tbody>
    <% @my_episodes.each do |my_episode| %>
    <% the_episode = @episodes.where(id: my_episode.episode_id).first %>
    <tr>
      <td><%= the_episode.season %></td>
      <td><%= the_episode.episode %></td>
      <td><%= the_episode.title %></td>
      <td><%= the_episode.tv_show.name %></td>
      <td>
      <% if current_user.episodes.include? the_episode %>
        <%= link_to 'Non vue', remove_user_episode_episode_path(the_episode),
        method: "get",
        data: {confirm: 'Etes-vous sûr de vouloir retirer l\'épisode de votre compte ?'},
        class: 'btn btn-danger' %>
        <% else %>
        <%= link_to 'Vue', add_user_episode_episode_path(the_episode),
        method: "get",
        data: {confirm: 'Etes-vous sûr de vouloir ajouter l\'épisode à votre compte ?'},
        class: 'btn btn-success' %>
        <% end %>
      </td>
      <td><%= link_to 'Afficher', the_episode, class: 'btn btn-primary' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>Il n'y a pas encore de séries.</p>
<% end %>

<p>
  <%= link_to 'Ajouter une série', new_tv_show_path, class: 'btn btn-success' %>
</p>