<h1>Afficher une série</h1>

<p>Saison : <%= @episode.season %></p>
<p>Episode : <%= @episode.episode %></p>
<p>Titre : <%= @episode.title %></p>
<p>Série : <%= @episode.tv_show.name %></p>

<p>
	<%= link_to 'Liste des épisodes', episodes_path, class: 'btn btn-primary' %>
	<%= link_to 'Modifier l\'épisode', edit_episode_path, class: 'btn btn-primary' %>
</p>